.container-dash {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .container-dash h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .container-dash label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
  }
  
  .container-dash input {
    width: 100%;
    padding: 1px;
    margin-bottom: 10px;
  }
  